:root { 
    --primary-color: #c49c87;
    --secondary-color: #e6e4b4;
    --accent1-color: #9b9597;
    --accent2-color: #7f9f9e;
}

header img {
    height: 100px;
}

.hero {
    background-image: url(images/rafting_background.webp);
    min-height: 800px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    color: var(--secondary-color);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.hero article img {
    width: 120px;
    height: auto;
    float: right;
    margin-left: 15px;
    border-radius: 5px;
}

.hero article p {
    color: var(--secondary-color);
    text-align: left;
    margin: 0;
}

section img {
    height: 200px;
    position:relative
}
footer a, img {
    height: 30px;
    text-decoration: none;

}